 body {
      font-family: 'Source Code Pro', monospace;
      
      background-color: #000000;
      
     text-align:left;
    }
     

    h1 {
        background-color: yellow;
     
     color:#008000;
     
     padding-top: 10px;
      
  }


h1:hover {
        background-color: red;
      
  }
  
    h2 {
      
  color:#008000;
      
  }
    

button {
 
 background-color: yellow;
      
  color:#008000; }

p {
      
  color:#008000; }
       
   #deneme { border-style: solid;
   
    border-color: crimson;

   border-width: 3px;
    
    width: 300px;
    height: 20px;
    
    padding-left:5px;
    
   }


   
   ul {
     
  color:#008000;
      
  }
 
 ol {
     
  color:#008000;
      
  }


