 body {
      font-family: 'Source Code Pro', monospace;
      
      background-color: #000000;
      
     text-align:left;
    }
     

    h1 {
        background-color: yellow;
     
     color:#008000;
     
     padding-top: 10px;
      
  }


h1:hover {
        background-color: red;
      
  }
  
    h2 {
      
  color:#008000;
      
  }


/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
    


button {
 
 background-color: yellow;
      
  color:#008000; }

p {
      
  color:#008000; }
       
   #deneme { border-style: solid;
   
    border-color: crimson;

   border-width: 3px;
    
    width: 300px;
    height: 20px;
    
    padding-left:5px;
    
   }
   
   ul {
     
  color:#008000;
      
  }
 
 ol {
     
  color:#008000;
      
  }


