 body {
      
      background-color: teal;
      
     text-align:left;
    }
     
    h1 {
        background-color: yellow;
     color:black;
     padding-top: 10px;
      
  }
  
    h2 {
      
  color:black;
      
  }
    

p {
      
  color:black; }
      
  
   #deneme { border-style: solid;
   
    border-color: crimson;

   border-width: 3px;
    
    width: 200px;
    height: 20px;
    
   }
   
   ul {
     
  color:black;
      
  }
 
 ol {
     
  color:black;
      
  }


